fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]
python-dotenv
pandas
pyarrow
openpyxl
faiss-cpu
google-generativeai
python-pptx
python-docx
pypdf
email-validator
supabase
psycopg2-binary
python-multipart
faiss-cpu
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]
tqdm
google-genai