fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-jose
python-dotenv
pandas
pyarrow
openpyxl
faiss-cpu
google-generativeai
python-pptx
python-docx
pypdf
email-validator
supabase
python-multipart
faiss-cpu
python-jose[cryptography]
tqdm
google-genai
langdetect
deep-translator
bcrypt
google-generativeai>=0.8.0
google-genai>=1.0.0